<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CraftsVilla">
<listeners>
<listener class-name="com.craftsvilla.generic.ITest"></listener>
</listeners>


  <test  name="Regression">
  <classes>
  <class name = "com.craftsvilla.testscripts.WatchesScripts"></class>
  </classes>
  </test> <!-- Regression -->
</suite> <!-- CraftsVilla -->
